<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
        <title>SYDE Order</title>
        <meta name="keywords" content="inventory management, manager, organizing, retailer, clothing, efficiency, web app">
        <meta name="description" content="helping retailers organize their inventory by determining what's hot and what's not">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/svg" href="./static/assets/receipt.svg">
        <!-- CSS -->

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        
        <style>
            .row1, .row2, .row3, .row4{
                text-align: center;
            }
            .box1, .box4, .box7, .box10{
                height: 500px;
                width: 300px;
                border: solid;
                display: inline-block;
                vertical-align: top;
            }
            .box2, .box5, .box8, .box11{
                height:500px;
                width: 300px;
                background-color: green;
                border: solid;
                display: inline-block;
            }
            .box3, .box6, .box9, .box12{
                height:500px;
                width: 300px;
                background-color: red;
                border: solid;
                display: inline-block;
            }
            .name{
                height: 100px;
                width: 300px;
                background-color: white;
            }
            
          .image{
              height: 200px;
              width: 300px;
              background-color: grey;
          }
          .bottom{
            height: 200px;
            width: 300px;
            display: inline-block;
            background-color: blue;
          }
          .description{
              height: 200px;
              width: 250px;
              text-align: left;
              font-size: 13px;
              float: left;
          }
          .stock{
              height: 200px;
              width: 48px;
              text-align: right;
              font-size: 13px;
              float: right;
              background-color: yellow;
          }
          h1{
            margin: 0;
          }
          h3{
            margin: 0;
          }
          p{
            margin: 0;
          }
        </style>
    </head>
    <body>
        <h1>SYDE Order</h1>
        <br><br>
        <h3>Men's</h3>
        <br>
        <br>
        <div class="row1">
            <div class="box1">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="bottom">
                    <div class="description">
                        <p>Inventory: </p>
                        <p>Last Month's Sales: </p>
                        <p>Current Month's Sales: </p>
                        <p>Sales Trend: </p>
                        <p>Reccommended Restock Quantity: </p>
                    </div>
                    <div class="stock">
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
            <div class="box3">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
        </div>
        
        <!-- ------------------------------------------------------>
        <br>
        <div class="row2">
            <div class="box4">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="bottom">
                    <div class="description">
                        <p>Inventory: </p>
                        <p>Last Month's Sales: </p>
                        <p>Current Month's Sales: </p>
                        <p>Sales Trend: </p>
                        <p>Reccommended Restock Quantity: </p>
                    </div>
                    <div class="stock">
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                    </div>
                </div>
            </div>
            <div class="box5">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
            <div class="box6">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
        </div>
        
        <!--------------------------------------------------------------->
        <h3>Women's</h3>
        <br>
        <br>
        <div class="row3">
            <div class="box7">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="bottom">
                    <div class="description">
                        <p>Inventory: </p>
                        <p>Last Month's Sales: </p>
                        <p>Current Month's Sales: </p>
                        <p>Sales Trend: </p>
                        <p>Reccommended Restock Quantity: </p>
                    </div>
                    <div class="stock">
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                    </div>
                </div>
            </div>
            <div class="box8">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
            <div class="box9">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
        </div>
        
        <!---------------------------------------------------------------------->
        <br>
        <div class="row4">
            <div class="box10">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="bottom">
                    <div class="description">
                        <p>Inventory: </p>
                        <p>Last Month's Sales: </p>
                        <p>Current Month's Sales: </p>
                        <p>Sales Trend: </p>
                        <p>Reccommended Restock Quantity: </p>
                    </div>
                    <div class="stock">
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                        <p>#</p>
                    </div>
                </div>
            </div>
            <div class="box11">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
            <div class="box12">
                <div class="name">
                </div>
                <div class="image">
                </div>
                <div class="description">
                    <p>Inventory: </p>
                    <p>Last Month's Sales: </p>
                    <p>Current Month's Sales: </p>
                    <p>Sales Trend: </p>
                    <p>Reccommended Restock Quantity: </p>
                </div>
                <div class="stock">
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
        </div>
    </body>
</html>